<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="../assests/styles/nctss_3.css">
  <title>About - NorCal Time Trial Series</title>
</head>
<body>
<div class="page">
    <section class="header">
      <h1>NorCal Time Trial Series</h1>
      <nav>
        <ul>
          <li>
            <a href="index.html">Home</a>
          </li>
          <li class=current>About</li>
          <li>
            <a href="general-information.html">General Information</a>
          </li>
          <li>
            <a href="safety-rules.html">Safety Rules</a>
          </li>
          <li>
            <a href="registration.html">Sign Up!</a>
          </li>
          <li>
            <a href="contact.html">Contact</a>
          </li>
        </ul>
      </nav>
      
    </section>

    <section class="content">
      <img class="logo" src="../assests/media/LOGO.png" alt="Logo">
      <img class="picture" src="../assests/media/alternative_image.jpg" alt="Blue BMW racing car">
      <h2>About NCTTS:</h2> 
      <div class="subcontent">
        <h3>Mission</h3>
        <p>To quote https://24hoursoflemons.com/:<br>  
        “Racing shouldn’t just be for rich idiots. Racing should be for all idiots.”</p><br>
        <h3>Vision</h3>
        <p>The NorCal Time Trial Series aspires to make the excitement of competitive racing events on iconic Northern California racetracks available to all enthusiasts without the costs or risks of wheel-to-wheel racing.</p><br>
        <h3>General Information</h3>
        <p>The NorCal Time Trial Series will hold at least one event per month on a track such as Sonoma Raceway, Thunderhill Raceway, or WeatherTech Raceway at Laguna Seca. Full safety equipment is required, and your car must pass technical inspection before you can compete.</p>
      </div>
    </section>
  </div>

</body>
</html>