<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="../assests/styles/nctss_3.css">
  <title>Contact - NorCal Time Trial Series</title>
</head>
<body>
   <div class="page">
    <section class="header">
      <h1>NorCal Time Trial Series</h1>
      <nav>
        <ul>
          <li>
            <a href="index.html">Home</a>
          </li>
          <li>
            <a href="about.html">About</a>
          </li>
          <li>
            <a href="general-information.html">General Information</a>
          </li>
          <li>
            <a href="safety-rules.html">Safety Rules</a>
          </li>
          <li>
            <a href="registration.html">Sign Up!</a>
          </li>
          <li class="current">Contact</li>
        </ul>
      </nav>
    </section>
  
    <section class="content">
      <img class="logo" src="../assests/media/LOGO.png" alt="Logo">
      <img class="picture" src="../assests/media/alternative_image.jpg" alt="Blue BMW racing car">
      <h2>Contact:</h2> 
      <div class="subcontent">
        <p>Please email us at: <a href="mailto:info@nctts.org">info@nctts.org</a></p>
        <p>We will reply as quickly as we can.</p>
      </div>  
    </section>
  </div>

</body>
</html>