<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="../assests/styles/nctss_3.css">
  <title>NorCal Time Trial Series</title>
</head>
<body>
<div class="page">
    <section class="header">
      <h1>NorCal Time Trial Series</h1>
      <nav>
        <ul>
          <li>
            <a href="index.html">Home</a>
          </li>
          <li>
            <a href="about.html">About</a>
          </li>
          <li class="current">General Information</li>
          <li>
            <a href="safety-rules.html">Safety Rules</a>
          </li>
          <li>
            <a href="registration.html">Sign Up!</a>
          </li>
          <li>
            <a href="contact.html">Contact</a>
          </li>
        </ul>
      </nav>
      
    </section>

    <section class="content">
      <img class="logo" src="../assests/media/LOGO.png" alt="Logo">
      <img class="picture" src="../assests/media/alternative_image.jpg" alt="Blue BMW racing car">
      <h2>General Information:</h2> 
      <div class="subcontent">
        <p><em>All events take place on Saturday</em></p>
        <table>
          <tr>
            <th>Locations:</th>
          </tr>
          <tr>
            <td>Sonoma Raceway (formerly called Sears Point) 29355 Arnold Dr, Sonoma, CA
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3137.1104571631317!2d-122.45689388378591!3d38.160872379690844!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8085aee4fafa9ce7%3A0x27b6f31a35f5ee5b!2sSonoma%20Raceway!5e0!3m2!1ses!2ses!4v1666272177858!5m2!1ses!2ses" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </td>
          </tr>
          <tr>
            <td>Thunderhill Raceway Park 5250 CA-162, Willows, CA
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d579827.8683055008!2d-122.66963976127646!3d39.34343233024455!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808300c80a69468f%3A0x19fa0a2cd52110fd!2sThunderhill%20Raceway%20Park!5e0!3m2!1ses!2ses!4v1666272566461!5m2!1ses!2ses" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </td>
          </tr>
          <tr>
            <td>WeatherTech Raceway Laguna Seca 1021 Monterey Salinas Hwy, Salinas, CA
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d30480.55889738037!2d-121.7767923265792!3d36.58125192437453!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808df089bfd5341b%3A0xddbb6644155538c0!2sLaguna%20Seca!5e0!3m2!1ses!2ses!4v1666272659845!5m2!1ses!2ses" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </td>
          </tr>
        </table>
        <br>
        <table>
          <tr>
            <th>Spring Schedule:</th>
          </tr>
          <tr>
            <td class="bottomLine">March 12</td>
            <td>Thunderhill</td>
          </tr>
          <tr>
            <td class="bottomLine">April 9</td>
            <td>Sonoma</td>
          </tr>
          <tr>
            <td class="bottomLine">May 14</td>
            <td>Laguna Seca</td>
          </tr>
          <tr>
            <td class="bottomLine">May 28</td>
            <td>Laguna Seca</td>
          </tr>
          <tr>
            <td class="bottomLine">June 11</td>
            <td>awards banquet (location TBD)</td>
          </tr>
        </table>
        <br>
        <table>
          <tr>
            <th>Times:</th>
          </tr>
          <tr>
            <td>Gates open at 7:00AM</td>
          </tr>
          <tr>
            <td>First car out at 9:00 AM</td>
          </tr>
          <tr>
            <td>Gates close at 5:00 PM</td>
          </tr>
        </table>
        <br>
        <table>
          <tr>
            <th>Additional Information:</th>
            <td>If deemed necessary by NCTTS, events may be shortened or cancelled due to extreme weather conditions.</td>
          </tr>
          <tr>
            <th>Please direct all questions to:</th>
            <td>Michael Randall, Event Coordinator<br><strong>Phone:</strong> (415) 690-8132 <strong>Email:</strong> <a href="mailto:michael.randall@nctts.org">michael.randall@nctts.org</a></td>
          </tr>
        </table>

      </div>
    </section>
  </div>

</body>
</html>