<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="../assests/styles/nctss_3.css">
  <title>NorCal Time Trial Series</title>
  
</head>
<body>

  <div class="page">
    <section class="header">
      <h1>NorCal Time Trial Series</h1>
      <nav>
        <ul>
          <li class="current">Home</li>
          <li>
            <a href="about.html">About</a>
          </li>
          <li>
            <a href="general-information.html">General Information</a>
          </li>
          <li>
            <a href="safety-rules.html">Safety Rules</a>
          </li>
          <li>
            <a href="registration.html">Sign Up!</a>
          </li>
          <li>
            <a href="contact.html">Contact</a>
          </li>
        </ul>
      </nav>
    </section>
      
    <section class="content">
      <img class="logo" src="../assests/media/LOGO.png" alt="NCTTS Logo">
      <img class="picture" src="../assests/media/alternative_image.jpg" alt="Blue BMW racing car">
      <h2>Upcoming Events:</h2> 
      <div class="subcontent">
        <p>February 12 </p>
        <p>&nbsp;&nbsp;&nbsp;Board Meeting</p><br>
        <p>February 25 </p>
        <p>&nbsp;&nbsp;&nbsp;Drivers Zoom Meeting</p><br>
        <p>February 12 </p>
        <p>&nbsp;&nbsp;&nbsp;First Event at Thunderhill!</p>
      </div>
    </section>  
  </div>
</body>
</html>